/* @import url("https://publications.gc.ca/boew-wet/wet4.0ca/GCWeb/css/theme.min.css"); */
@import url("/css/theme.min.css");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("/css/gc-thématique.min.css");
@import url("/css/noscript.min.css");

.InsideCarousel a {
  color: #2572b4 !important;
  text-decoration: underline !important;
}

.InsideCarousel a:visited {
  color: #2572b4 !important;
  text-decoration: underline !important;
}
